/*DECLARATIONS*/
@font-face{
	font-family: 'centurygothic';
	src: url('../../fonts/centurygothic.ttf');
}
	
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('../../fonts/material-icons.woff2') format('woff2');
}
/*END DECLARATIONS*/

*{
	font-family: 'centurygothic' !important;
}
a, .tabs .tab a{
	color: #0d47a1;
}
.tabs .indicator{
	background-color: #0d47a1 !important;
}

i.material-icons.medium{
	font-size: 4rem !important;
}

.switch label input[type=checkbox]:checked+.lever{
	    background-color: #4a526b !important;
}
.switch label input[type=checkbox]:checked+.lever:after{
	    background-color: #282e40 !important;
}

.card-info .card-action{
	border-top: unset;
}

.material-icons {
	line-height: 1;
	letter-spacing: normal;
	text-transform: none;
	display: inline-block;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
	font-family: 'Material Icons' !important;
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	-webkit-font-feature-settings: 'liga';
	-webkit-font-smoothing: antialiased;
}

/*TYPOGRAPHY*/
.justify{
	text-align: justify !important;
}
.letterspaced{
	letter-spacing: 0.1em !important;
}
.bold{
	font-weight: bold !important; 
}
.uppercase{
	text-transform:  uppercase !important;
}
.titlecase{
	text-transform:  capitalize !important;

}

.theme-blue-bg{
	background-color: #0086be !important;
}

.theme-grey-bg{
	background-color: #556080 !important;
}

.theme-darkgrey-bg{
	background-color: #282e40 !important;
}


.theme-yellow-bg{
	background-color: #f9bf51 !important;
}

.theme-blue-text{
	color: #0086be !important;
}

.theme-yellow-text{
	color: #f9bf51 !important;
}